.container {
    background: gainsboro;
}

.pageTitle {
    color: darkgreen;
    text-shadow: 2px 1px honeydew;
    padding: 30px 0;
}

.form-group.col {
    margin: 0 auto;
    width: 40rem;
}

.destination-list {
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.destination {
    width: 32%;
    height: 310px;
    margin: 10px 0 30px 0;
    background: white;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 7px;
}

.destinationImg {
    border: 1.5px solid rgb(125, 211, 132);
    border-radius: 5%;
    width: 90%;
    height: 70%;
    overflow: hidden;
    margin: 0 auto;
}

.borderImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.destImg {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.btn {
    width: 111px;
    height: 40px;
    margin: 5px 15px;
    background: lightseagreen;
    color: white;
}

.btn.btnAdd {
    width: 139px;
    height: 40px;
    margin-top: 20px;
    background: lightseagreen;
    color: white;
}

/* //deatils */

.box-article {
    margin: 0 auto;
    width: 80%;
    height: 590px;
}

.destDetails {
    margin: 0 auto;
    width: 550px;
    background: white;
    padding-top: 20px;
    border: 1px solid white;
    border-radius: 10px;
}

.destDetImg {
    width: 90%;
    margin: 15px auto;
}

.btn.destDetails {
    width: 139px;
    height: 40px;
    margin: 20px 0 30px;
    background: lightseagreen;
    color: white;
}

/* //edit */